.footer_main{
    display: flex;
    background: #0d0402;
    color: #FFF;
    height: 39vh;
    margin-top: 9.7vh;
    align-items: center;
    justify-content: space-between;
    background-image: url('/pics/footer.png');

}
.logo{
    margin-top: -20px;
    margin-left: 10.2vw;
}
.logo p{
    margin-top: 30px;
    font-size: 18px;
}
.logo1{
    display: flex;
    font-size: 18px;
}
.logo1 img{
    margin-top: 30px;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.categories{
}
.categories h4{
    color: #FFF;

    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}

.info h4{
    color: #FFF;

    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.social_media{
    margin-top: -20px;
    margin-right: 11.5vw;
}
.social_media h4{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    margin-top: -20px;
}
.social_media img{
    margin-top: 30px;
    margin-right:20px;
}
.copyright{
    position: absolute;
    background: #0D0402;
    color: #FFF;
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin-left: 31.1vw;
}

.logo_flex {
    display: flex;
    align-items: center;
}

.logo_flex span {
    margin-top: 0.5em;
    margin-left: 0.25em;
}
