/* ================================== BLOCKS ================================= */

.item_display {
    margin-bottom: 22.1vh;
    height: 100vh;
    display: flex;
    flex-direction: column ;
}

.item_display .item_display_cards {
    height: 56vh;
    margin: 5.8vh 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
}

.item_display_card {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* =============================== ELEMENTS =================================== */

.item_display h3 {
    margin-top: 13.6vh;
    margin-left: 10vw;
    width: 590px;
    font-size: 43px;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
    letter-spacing: 6.45px;
}

.item_display p {
    margin-top: 2vh;
    margin-left: 10.2vw;
    width: 506px;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    opacity: 0.7;
}

.item_display_card img {
    height: 25.8vh;
    width: 20.8vw;
}

.item_display_card span {
    color: #0C0D0C;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%; /* 36px */
}

.item_display_card h4 {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    line-height: 130%; /* 41.6px */
}

.item_display_card p {
    margin: 0;
    width: 17.8vw;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    opacity: 0.6;
}

.item_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
}

.item_display h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 6.45px;
    width: 590px;
    height: 56px;
    align-self: flex-start;
    margin-left: 145px;
    margin-top: 140px;
}

.item_display p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 506px;
    height: 58px;
    margin-top: 20px;
    opacity: 0.7;
    margin-bottom: 60px;
    align-self: flex-start;
    margin-left: 145px;

}

.item_display_cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    flex-wrap: nowrap;
    height: 100vh;
    width: 1440px;
    align-self: flex-start;
    margin-left: 145px;
}

.item_display_card img {
    width: 300px;
    height: 265px;
    margin-bottom: 35px;
}

.item_display_card span {
    display: block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

}

.item_display_card p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.6;
    width: 257px;
    height: 52px;
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 0;
}

.item_display_card h4 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    width: 310px;
    height: 42px;
}
