.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.news h3 {
    margin-top: 14vh;
    color: #000;
    text-align: center;
    padding: 6.5px 0 6.5px 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.news > p {
    color: #000;
    text-align: center;
    font-size: 18px;
    padding: 5px 0 5px 0;
    opacity: 0.7;
    width: 42vw;
}

.news_cards {
    width: 80vw;
    height: 52vh;
    display: flex;
    justify-content: space-between;
}

.news_card {
    width: 25vw;
    height: 52vh;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.20);
}

.news_card img {
    height: 29vh;
    width: 25vw;
    image-rendering: auto;
}

.news_card:hover img {
    cursor: pointer;
    opacity: 0.9;
    transition: ease-in-out 300ms;
}

.news_card h4 {
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    /*width: 14vw;*/
    font-weight: 600;
    line-height: 130%;
    padding: 5px 0 5px 0;
    margin: 3vh 0 1vh 2vw;
}

.news_card p {
    width: 20vw;
    opacity: 0.7;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 5px 0 5px 0;
    margin-left: 2vw;
}

.news_card a {
    color: #FF4B32;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin: 2vh 0 3vh 2.4vw;
}

.news_card a:hover {
    cursor: pointer;
    color: #b93c24;
    transition: 300ms ease-in-out;
}